@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(23,23,23);
}

.rotate-item{
  animation: routate 30s linear infinite;
}

@keyframes routate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* width */
.sc::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sc::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.sc::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 5px;
}

/* Handle on hover */
.sc::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rev {
  flex-direction: column-reverse;
}